স্বপ্নের অধিক কিছু।বাংলাদেশ ক্রিকেট কে আমরা সেই যায়গায় দেখতে চাই যাতে আমরা গর্ব করতে পারি ।বিডিক্রিকেটনিউজ.কম বাংলাদেশর প্রথম সাইট যা বাংলাদেশ এর সকল তথ্য একসাথে একযায়গায় নিয়ে এসেছে ।জাতীয় দল,অনুদ্ধ দল ,মহিলা দল ,“এ”দল এর সকল তথ্য রেকর্ড,স্কোর, সকল আপডেট।
     বিডিক্রিকেটনিউজ.কম বাংলাদেশর ক্রিকেট পাগল মানুষকে সকল তথ্য জানাতে চায়,যখনই ঘটে তখনই।আমরা বাংলাদেশ দলের সাথে থাকতে চাই তাদের সুসময় ও অসময়ে।বাংলাদেশ বলতে চাই তোমরা নির্ভার হয়ে খেল, আমরা তোমাদের সাথে আছি। থাকব ।আমাদের এই প্রচেট্টায় বাংলাদেশর সকল মানুষকে আমরা পাশে চাই।বিডিক্রিকেটনিউজ.কম ভিজিট করুন।আমাদের এগিয়ে যেতে সাহায্য করুন।আপনারা আমাদের আপনার মুল্যবান মতামত জানাতে পারেন।
আমাদের ফেসবুক পেজ এ লাইক দিনঃhttps://www.facebook.com/pages/Bdcricketnewscom/485958491427609?ref=hl

যোগাযোগঃ আহসানুল মোবাইলঃ০১৯২৬২৮৫৯৩২
        নয়নঃ০১৮৩৫৩৯২৯৮০
   ইমেলঃ bdcricketnews.bd@gmail.com
  Skype id:ahasanul.rony


http://bdcricketnews.com/
